.my-container1 {
  background-color: #c3e8ed;
  min-height: 5rem;
  border-bottom: 1px solid white;
}

.my-container1 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-container1 .navbar .brand span {
  color: #153774;
  font-size: 30px;
  font-weight: 700;
}

.my-container1 .navbar .menu {
  margin-right: auto;
  margin-left: 20px;
  margin-top: 15px;
}

.my-container1 .navbar .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-container1 .navbar .menu ul li {
  margin: 0px 10px;
}

.my-container1 .navbar .menu ul li a {
  text-decoration: none;
  color: #153774;
  font-weight: 500;
}

.my-container1 .navbar .search form input {
  border: none;
  background-color: #c3e8ed;
  outline: none;
}

.my-container1 .navbar .search form button {
  background-color: #c3e8ed;
  border: none;
}

.my-container1 .navbar .search form button img {
  width: 20px;
}

.my-container1 .navbar .user {
  margin-left: 60px;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-container1 .navbar .user img {
  width: 20px;
}

.my-container1 .navbar .cart {
  margin-left: 20px;
  border: 1px solid white;
  background-color: white;
  border-radius: 40px;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-container1 .navbar .cart img {
  width: 20px;
}

.my-container1 .navbar .toggle img {
  width: 20px;
}

.my-container2 {
  background-color: #c3e8ed;
  min-height: 20rem;
}

.my-container2 .row {
  min-height: 40rem;
}

.my-container2 .row .col-md-9 .row .col-sm-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  margin-left: 2rem;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section1 .filter {
  border: 1px solid white;
  border-radius: 40px;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section1 .filter img {
  width: 20px;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section1 .escape {
  margin: 10px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0px 20px;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section1 .escape span {
  color: #153774;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section2 {
  width: 15rem;
  margin-top: 10rem;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section2 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section2 .line span:nth-child(1) {
  color: #153774;
  font-weight: 600;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section2 .line span:nth-child(2) {
  color: #153774;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section3 {
  margin-top: 3rem;
}

.my-container2 .row .col-md-9 .row .col-sm-4 .section3 span {
  color: #153774;
  font-weight: 700;
}

.my-container2 .row .col-md-9 .row .col-sm-7 {
  background-image: url(/img/background.jpeg);
  background-position: center;
  background-size: 30rem;
  background-repeat: no-repeat;
}

.my-container2 .row .col-md-3 .box {
  margin-top: 5rem;
  min-height: 30rem;
  background-color: white;
}

.my-container2 .row .col-md-3 .box .section1 {
  padding: 30px;
}

.my-container2 .row .col-md-3 .box .section1 span:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  color: #153774;
}

.my-container2 .row .col-md-3 .box .section1 span:nth-child(2) {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #d9496e;
}

.my-container2 .row .col-md-3 .box .section1 p:nth-child(1) {
  color: #153774;
  font-weight: 600;
}

.my-container2 .row .col-md-3 .box .section1 p:nth-child(2) {
  color: #153774;
  font-size: 20px;
}

.my-container2 .row .col-md-3 .box .section2 {
  width: 100%;
  padding: 10px;
  border: 2px solid #e2eaec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-container2 .row .col-md-3 .box .section2 span {
  color: #153774;
}

.my-container2 .row .col-md-3 .box .section3 {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #153774;
}

.my-container2 .row .col-md-3 .box .section3 a {
  color: white;
  text-decoration: none;
}

@media (max-width: 901px) {
  .my-container1 .navbar .menu {
    display: none;
  }
  .my-container1 .navbar .search {
    display: none;
  }
  .my-container1 .navbar .user {
    display: none;
  }
  .my-container1 .navbar .cart {
    display: none;
  }
  .my-container2 .row .col-md-9 .row .col-sm-4 {
    margin: 0px;
    margin-top: 3rem;
  }
  .my-container2 .row .col-md-9 .row .col-sm-7 {
    min-height: 20rem;
  }
}

@media (min-width: 901px) {
  .container-fluid .navbar .toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */